extends layout
block content
    form#book-info(encType="multipart/form-data" method="post" name="bookinfo")
        .form-group
            label(for="titleControlInput") 标题
            input#titleControlInput.form-control(required autocomplete="off" type="text" name="title" value=(undefined===origin.title ? '' :  origin.title))
        .form-group
            label(for="authorControlInput") 作者
            input#authorControlInput.form-control(autocomplete="off" type="text" name="author" value=(undefined===origin.author ? '' :  origin.author))
        .form-group
            label(for="authorControlInput") 出版社
            input#authorControlInput.form-control(autocomplete="off" type="text" name="author" value=(undefined===origin.publisher ? '' :  origin.publisher))
        .form-group
            label(for="isbnControlInput") ISBN
            input#isbnControlInput.form-control(required autocomplete="off" type="text" name="isbn" value=(undefined===origin.isbn ? '' :  origin.isbn))
        .from-group
            label(for="yearInput") 出版年
            input#yearInput.form-control(required type="number" name="year" value=(undefined===origin.year ? '' :  origin.year))
        .from-group    
            label(for="pagesControlInput") 页数
            input#pagesControlInput.form-control(required type="number" name="page" value=(undefined===origin.pages ? '' :  origin.pages))
        .form-group
            label(for="introControlTextarea") 简介
            textarea#introControlTextarea.form-control(rows="3" name="intro") #{(undefined===origin.intro ? '' :  origin.intro)}
        if errors !== undefined
            ul.list-group
                for err in errors
                    li.list-group-item.list-group-item-danger= err.msg
        .form-group#fgflex
            a(class="btn btn-primary" data-toggle="collapse" href="#uploadCover" role="button" aria-expanded="false" aria-controls="collapseExample") 上传封面

            input#newBookSubmit.btn.btn-primary(type="submit" value="提交")

        div#uploadCover(class="collapse")
            div
                .form-group.mt-1
                    label(for="coverFile" style="display:none;") 封面
                    input#coverFile.form-control-file.filestyle(type="file" style="width:15rem;" name="cover" accept="image/png")
                span.mr-5.mt-2 OR
                .form-group
                    label(for="coverUrl" style="display:none") url
                    input#coverUrl.form-control(type="text" name="coverUrl" placeholder="URL")
            
    script(src="/javascripts/new_book.js")