html, body {
    margin: 0;
    padding: 0;
}
.btn.focus, .btn:focus {
    box-shadow: none;
}

nav {
    border-radius: 20px;
}

.tagbox {
    display: flex;
    flex-wrap: wrap;
}


/* main */
header {
    display:flex;
    align-items: center;
    justify-content: space-around;
}

/* tag */
button.tag {
    margin: 0.2rem;
}

button.tag:focus {
    box-shadow: none;
}

button.tag.active {
    background-color: greenyellow;
}



/* book card */
.cover {
    width: 100%;
    height: auto;
}

.main-image {
    display: block;
    flex: 0 0 auto;
    width: 233px;
    margin: auto;
}

.main-cover {
    display: flex;
}

.main-cover img {
    max-width: 233px;
    width: 100%;
    margin: auto;
}

.main-info {
    flex: 1 1 auto;
    display: block;
}

/* edit checkbox */


/* new_book */
#fgflex {
    display: flex;
    justify-content: space-between;
}

#fgflex input ,
#fgflex a {
        width: 10rem;
}

#uploadCover div {
    display: flex;
}


/* dropdown */

.dropdown {
    position: relative;
    display: inline-block;
    height: 2rem;
}

/* .dropdown:focus {
    background-color: black;
} */
.dropdown-content {
    /* border: black; */
    box-shadow: cornflowerblue;
    border: solid #60dcf1;
    border-width: 1px;
    display: none;
}
.dropdown-item {
    /* border-top-width: 1px; */
    /* border: aqua; */
    /* border-radius: 5px; */
    cursor: default;
}